.top_section{
  margin-top: 5vh;
  display: grid;
  grid-template-columns: auto auto;
}
/* ********************************************** */
.player_input_area{
  display: grid;
  justify-self: center;
  width: 35rem;
  height: 45rem;
  border-style: inset;
  border-width: 2px;
}
.player_story_board{
  display: grid;
  grid-template-columns: auto;
  margin-top: 2vh;
  justify-self: center;
  width: 30rem;
  height: 35rem;
  border-style: inset;
  border-width: 2px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.player_text_input,.dm_text_input{
  position: relative;
  justify-self: center;
  width: 20rem;
  height: 4rem;
}
/* ************************************************** */
.dm_input_area{
  display: grid;
  justify-self: center;
  width: 35rem;
  height: 30rem;
  border-style: inset;
  border-width: 2px;
}
.dm_story_board{
  display: grid;
  grid-template-columns: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-self: center;
  width: 30rem;
  height: 20rem;
  border-style: inset;
  border-width: 2px;
  margin-top: 2vh;
}
 
/* ***************************************************** */

.submitButton{
  position: relative;
  justify-self: center;
  width: 5rem;
  height: 2rem;
}

/* ************************************************** */
.bottom_section{
  display: grid;
  grid-template-columns: auto auto;
  min-width:75vw;
  position: relative;
  justify-self: center;
  margin-top: 5vh;
}
.players_statblock{
  position: relative;
  justify-self: left;
  margin-left: 10vw;
}
.roll_card_events{
  margin-right: 10vw;
  position: relative;
  justify-self: right;
  width: fit-content;
  max-width: 30vw;
  max-height: 15vh;
  overflow: scroll;
  border-style: ridge;
}


/* ******************************************************* */

.story_card{
  justify-self: center;
  position: relative;
  text-align: center;
  width: 20rem;
  height: fit-content;
  border-style: double;
  border-width: 1px;
  margin: 0.5rem;
 
}